<!DOCTYPE html>
<html>
  <head>
    <title>英国卫裤</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/components/jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <section>
        <!-- <div class="img"> -->
            <!-- <img src="../images/weiku1.png" alt=""> -->
            <!-- <div class="search">
                <input type="text" id="agent">
                <input type="button" name="name" value="查询" id="searchbtn">
            </div> -->
            <div class="col-sm-4 col-md-4 col-lg-4 col-center-block">
                <div class="input-group">
                  <input type="text" id="agent" class="form-control" aria-label="...">
                  <div class="input-group-btn">
                      <button type="button" id="searchbtn" class="btn btn-default">查询</button>
                    <!-- Button and dropdown menu -->
                  </div>
                </div>
            </div>
        <!-- </div> -->
    </section>
  </body>
  <script type="text/javascript">
      $(document).ready(function() {

          $('#searchbtn').click(function () {
              var name = $('#agent').val();
              $.ajax({
                  url: '/agentsearch',
                  data: {"name": name},
                  type: 'post',
                  success: function(result) {
                      if(result.length> 0) {
                          alert(result[0].name + '  为英国卫裤'+ result[0].wheres +'。');
                      } else {
                          alert(name + '  非为英国卫裤代理，请谨慎购买其产品!');
                      }
                  }
              })
          })
      })
  </script>
</html>
