* {
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  background-image: url(http://7xs6c6.com1.z0.glb.clouddn.com/pc-weiku.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(http://7xs6c6.com1.z0.glb.clouddn.com/photo-weiku.png);
  }
}

a {
  color: #00B7FF;
}


/*.search {
  position: absolute;
  z-index: 100;
  left: 50%;
  right: 50%;
  width: 30%;
  margin-left: -240px;
}*/

/*@media screen and (max-width: 768px) {

  .search {
    top: 30%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1399px) {

  .search {
    top: 40%;
  }
}
@media screen and (min-width: 1400px) {

  .search {
    top: 35%;
  }
}

.search input[type="text"] {
    float: left;
    width: 60%;
    height: 50px;
    background: rgba(10, 26, 127, 0.5);
    outline: none;
    padding-left: 20px;
    font-size: 32px;
    color: white;
}

.search input[type="button"] {
    float: left;
    width: 35%;
    height: 50px;
    background: rgba(10, 26, 127, 1);
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}*/

section {
  position: absolute;
  top: 35%;
}

.input-group input[type="text"], #searchbtn {
  border: none;
  color: white;
  outline: none;
}

.input-group input[type="text"] {
  background: rgba(10, 26, 127, 0.5);
}
#searchbtn {
  background: rgba(10, 26, 127, 1);
}

.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
